.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.navigation__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #000000;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;
}

.navigation__link:visited {
    color: #000000;
}

.navigation__link:hover {
    opacity: 0.8;
}

.navigation__link_type_active{
    font-weight: 500;
}

@media screen and (max-width: 1279px) {
    .navigation {
        display: none;
    }
}