.form__label {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    margin-top: 20px;
    margin-bottom: 10px;
}

.form__label_type_error {
    color: #EE3465;
    margin-top: 10px;
    margin-bottom: 0;
}

.form__input {
    background: #F9F9F9;
    border-radius: 8px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    width: 396px;
    height: 46px;
    border: none;
    margin: 0;
    padding: 0 0 0 15px;
    box-sizing: content-box;
    outline: none;
}

@media screen and (max-width: 767px) {
    .form__input {
        width: 260px;
    }
}